@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('~assets/fonts/GothamPro-Medium.woff');
}

@font-face {
  font-family: 'Gotham';
  font-style: bold;
  font-weight: 600;
  font-display: swap;
  src: url('~assets/fonts/GothamPro-Bold.woff');
}

@font-face {
  font-family: 'Gotham';
  font-style: black;
  font-weight: 700;
  font-display: swap;
  src: url('~assets/fonts/GothamPro-Black.woff');
}

@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url('~assets/fonts/GothamPro-Light.woff');
}

html,
body {
  scroll-behavior: smooth;
}

body {
  counter-reset: list-item;
}

.triangle-bullet {
  @apply pl-6 flex items-center relative;
}

.triangle-bullet::before {
  content: '';
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-left-color: theme('colors.white');

  @apply w-0 h-0 absolute left-0 border-t-8 border-b-8 border-l-12;
}

.form-input::placeholder {
  @apply text-normal-blue-500;
}

.title-shadow {
  text-shadow: 1px 2px 30px theme('colors.black');
}
